<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>首页</title>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-tiny m-shadow-small">
    <div class="ui m-container-big">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">LiMengQi</h2>
            
        </div>
    </div>

    <!--手机端-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>



</nav>


<br><br><br><br><br><br><br><br><br>



<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message">
        <div class="ui container">
            <h2>404</h2>
            <p>您访问的资源不存在</p>
        </div>

    </div>

</div>



<br><br><br><br><br><br><br><br><br>









<!-- 底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned m-container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <script>
                            for (let i = 0; i < 30; i++) {
                                document.write("&nbsp;");
                            }
                        </script>
                        <img src="../../static/images/QRcode.jpg" class="ui rounded image" alt=""
                             style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">limengqi0505@163.com</a>
                    <a href="#" class="item m-text-thin">QQ：1654139120</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">我的个人博客,会分享计算机、数学、生活相关内容，欢迎收藏</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny" style="text-align:center">Copyright © 2021 - 2022 Limengqi
            Designed by
            Limengqi</p>
    </div>

</footer>


<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide'); //有=>去除 没有=>加上
    });
</script>


</body>
</html>























































